.estante-de-livros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
}

.card-livros {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  margin-right: 30px;
  height: 420px;
  background-color: transparent;
}

.card-livros:hover {
  transform: scale(1.02);
}

.img-card-livro {
  width: 200px;
  height: 300px;
  background-color: transparent;
}

.titulo-card {
  width: 200px;
  font-size: medium;
  background-color: transparent;
  margin: 5px 0 0 0 ;
}

.preco-card{
  width: 200px;
  font-size: large;
  background-color: transparent;
}

.nome-preco { 
  display: flex;
  width: 200px;
  gap: 10px;
}

.icone-card {
  background-color: transparent;
  size: large;
}

.botao-card {
  padding: 10px;
  background-color: #996dff;
  border: none;
  border-radius: 15px;
  position: relative;
  min-width: 35px;
}

.icone-position-absolute {
  position: absolute;
  top: 12px;
  left: 11px;
}

.botao-card:hover {
  cursor: pointer;
  background-color: #7a57cb;
}

.display-flex-card-livro {
  display: flex;
  align-items: center;
  width: 200px;
  margin-top: 8px;
}