
.estante-de-livros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-livros {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    background: rgba(0, 0, 0, 0);
    margin-right: 30px;
}

.card-livros:hover {
    transform: scale(1.02);
}

.genero {
    color: #996DFF;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
}

.img-card-livro {
    width: 200px;
    height: 299.850px;
    background: rgba(0, 0, 0, 0);
}

.descricao-espaco {
    width: 200px;
    background: rgba(0, 0, 0, 0);

}


