.DescricaoComFiltro {
    margin-top: 25%;
}

.cor-roxa {
    color: #996DFF;
    text-transform: uppercase;
}


.margin-top-e-botton-32px {
    margin: 32px 0 32px 0;
}

form {
    margin: 20px;
}

select {
    background: #996DFF;
    padding: 16px;
    border-radius: 8px;
    margin: 10px;
}