.configuracoes-usuario {
  position: relative;
  background-color: transparent;
}

.formulario-configuracoes {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

.lista-configuracos {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: transparent;
}

.lista-configuracos p {
  background-color: transparent;
}

.coluns-formulario-configuracoes-usuario {
  display: flex;
  gap: 20px;
  background-color: transparent;
  flex-wrap: wrap;
}

.informacoes-imutaveis,
.informacoes-contato,
.informacoes-endereco {
  background-color: transparent;
  display: flex;
  gap: 20px;
}

.informacoes-imutaveis button {
  display: none;
}

.min-widit {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.atualizar-configuracoes-endereco {
  background-color: #996dff;
  border: none;
  margin: 10px 0 0 0;
  padding: 10px;
  border-radius: 15px;
}

.atualizar-configuracoes-endereco:hover {
  cursor: pointer;
  background-color: #7a57cb;
}