.configuracoes-usuario {
  position: relative;
  background-color: transparent;
  width: 100%;
}

.formulario-configuracoes {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  width: 100%;
}

.informacoes-imutaveis button {
  display: none;
}

.botao-atualizar-configuracoes-endereco {
  background-color: #996dff;
  border: none;
  margin: 42px 0 0 0;
  padding: 10px;
  border-radius: 15px;
  min-width: 300px;
}

.botao-atualizar-configuracoes-endereco:hover {
  cursor: pointer;
  background-color: #7a57cb;
}

.minimo-widit-input-configuracoes {
  min-width: 300px;
  background-color: transparent;
}

.minimo-widit-senha-configuracoes {
  min-width: 280px;
  padding: 5px;
  z-index: 999999;
  background-color: transparent;
}

.input-background-color{
    background-color: #858585c8;
}


.informacoes-imutaveis,
.display-flex-configuracoes-row,
.min-widit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;   
  gap: 20px;
  background-color: transparent;
  z-index: 900;
}

.padding-vinte,
.min-widit {
  padding: 20px 0 20px 0;
}
